/* public/styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

#app {
    position: relative;
}

video, canvas {
    display: block;
    margin: auto;
}

.container {
    position: relative;
    width: 80vw;
    height: 80vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#canvas,
#filterCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}

button, select {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

button:hover, select:hover {
    background-color: #0056b3;
}

#qrResult {
    font-size: 18px;
    margin-top: 10px;
}

#history {
    margin-top: 20px;
    color: #fff;
}

#history ul {
    list-style-type: none;
    padding: 0;
}

#history li {
    background: #333;
    padding: 5px;
    margin: 5px 0;
}
